*.iml
.idea/
target/
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

dependency-reduced-pom.xml

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
